.container-auth-page_ {
  background-color: #fff;

  @media only screen and (min-width: 768px) {
    padding: 10px 0;
  }

  .container-items-auth {
    background: linear-gradient(
      rgba(100, 56, 40, 0.75),
      rgba(129, 49, 9, 0.95)
    );
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    width: 388px;
    padding: 30px 25px;
    border-radius: 5px;

    @media only screen and (max-width: 768px) {
      height: 100vh;
    }

    @media only screen and (max-width: 499px) {
      border-radius: 0;
      width: 100vw;
      height: 100vh;
    }

    header {
      font-size: 17px;
      color: #fff;

      .active-auth-link {
        border-bottom: 3px solid #ef541b;
      }
    }

    .container_divider {
      text-align: center;
      position: relative;
      // border: 1px solid #ef541b;
      border: 1px solid #fff;

      span {
        position: absolute;
        top: -16px;
        left: 46%;
        // color: #fff;
        color: #ef541b;
        // background-color: #ef541b;
        background-color: white;
        font-size: 10px;
        padding: 7px 8px;
        border-radius: 100px;
      }
    }

    .container-google-option-holder {
      padding: 10px;
      border-radius: 30px;
      padding: 12px 50px;
      color: #ffff;
      font-size: 14px;
      text-align: center;
      background-color: #be7c63;
      cursor: pointer;
      animation: 1s ease-in-out;
      transition: 1s;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

      &:hover {
        transform: scaleY(1.1);
        background-color: #fd946ed5;
      }
    }

    .auth-error {
      color: #ff3737;
      // background-color: white;
      padding: 2px 4px;
      width: 100%;
      display: block;
      font-size: 12px;
      border-radius: 4px;
    }

    label {
      color: rgb(166, 164, 164);
    }
    input {
      color: #b5b5b5;
      background-color: rgba(77, 56, 49, 0.25);
    }
  }
}
