.overall-container {
  position: absolute;
  z-index: 88888;
  display: flex;
  justify-self: center;
  top: -150vh;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
  // height: 100vh;
  overflow: hidden;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-self: center;

  &::-webkit-scrollbar {
    display: none;
  }

  .container-blogpost-form {
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 420px;
    height: fit-content;

    .container-blogpost-form-wrapper {
      header {
        border-bottom: 1px solid #e5e5e5;
        align-items: center;
      }

      .container-blog-form {
        textarea {
          height: 160px;
          border-radius: 20px;
        }

        .btn-upload-img {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #e5e5e5;
        }
      }
    }
  }
}

.active-form {
  top: 0px !important;

  @media only screen and (max-width: 559px) {
    width: 393px;
    top: 20px !important;
  }

  @media only screen and (max-width: 445px) {
    width: 90vw;
    top: 20px !important;
  }
}

form {
  label {
    font-size: small;
    color: rgb(35, 35, 35);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  textarea {
    background-color: #ffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    // border: 1px solid #e5e5e5;
    padding: 10px 20px;
    border-radius: 30px;
    outline: none;
    width: 100%;
  }
}
