.active-sidebar {
  @media only screen and (max-width: 1061px) {
    left: 0 !important;
  }
}

.disabled-sidebar {
  @media only screen and (max-width: 1061px) {
    left: -256px !important;
  }
}

.container_sidebar {
  width: 256px;
  border-right: 1px solid #e5e5e5;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #ffff;
  z-index: 66666;
  transition: 0.5s;
  animation: 0.5s ease-in-out;

  @media only screen and (max-width: 1061px) {
    left: -256px;
  }

  aside {
    width: 100%;
    height: 100%;

    .container-user-personals {
      position: relative;

      .active-user-drop-down {
        height: 75px !important;
        padding: 5px 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        // border: 1px solid #e5e5e5;
      }

      .container-user-personals {
        position: absolute;
        background-color: #ffffff;
        width: auto;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;
        animation: 0.3s ease-in-out;
        height: 0;
        overflow: hidden;

        a {
          font-size: 13px;
          white-space: nowrap;
          width: 100%;
          padding: 5px 25px;

          &:first-child {
            color: #ff0000;
          }

          &:not(:first-child) {
            border-top: 1px solid #e5e5e5;
          }

          &:hover {
            background-color: #e5e5e5;
          }
        }
      }
    }

    .container-article {
      border-bottom: 1px solid #e5e5e5;
    }

    .container-search-nav-and-links-items {
      flex: 1;

      .wrapper {
        border: 1px solid #e5e5e5;
        align-items: center;
        border-radius: 2px;

        input {
          outline: none;
          color: #4b4b4b;
          font-size: 14px;
        }
      }

      .sidebar-items__ {
        .container-links {
          ul {
            li {
              font-size: 14px;
              font-weight: 500;

              .active-reddit {
                color: #ff4500 !important;
              }

              .active {
                display: block;
                color: #ff4500;
                background-color: #f3f3f3;
              }

              .main-link {
                div {
                  align-items: center;
                }

                &:hover {
                  display: block;
                  background-color: #f3f3f3;
                }
              }

              a {
                display: block;
                transition: 0.4s;
                animation: 0.4s ease-in-out;

                svg {
                  path {
                    transition: 0.4s;
                    animation: 0.4s ease-in-out;
                  }
                }

                div {
                  align-items: center;
                }
              }
            }
          }
        }

        .sidebar-bottom-container {
          height: fit-content;
          border-top: 1px solid #e5e5e5;

          ul {
            li {
              font-size: 14px;
              font-weight: 500;

              a {
                display: block;

                div {
                  align-items: center;

                  div {
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
