@use "../base/global.scss" as theme;

.__container-navbar {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid #e5e5e5;

  .container-top-navbar {
    p {
      text-align: left;
      font-weight: 600;
      font-size: 17px;
    }
  }

  .category_list_for_navbar {
    background-color: #e5e5e5;

    ul {
      .active-link {
        a {
          border-bottom: 2px solid #ff4500;
          color: #ff4500 !important;
        }
      }

      li {
        a {
          display: block;
          padding: 10px 25px;
          font-size: 12px;
          transition: 0.5s;
          color: #414141;

          &:hover {
            color: #ff4500;
          }

          &:focus {
            border-bottom: 2px solid #ff4500;
            color: #ff4500;
          }
        }
      }
    }
  }
}
